# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.env.local

# Virtual environments
services/*/env/

# Logs
*.log

# Data files
data/*

# Test data 
services/wearable_producer/garmin_test_data_processing.py
services/wearable_producer/garmin_data/
services/wearable_producer/processed_data/

