# MongoDB environment variables
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

#Mongo Express environment variables
ME_CONFIG_MONGODB_URL=
ME_CONFIG_BASICAUTH_ENABLED=
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=