# MongoDB environment variables
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Mongo Express environment variables
ME_CONFIG_MONGODB_URL=
ME_CONFIG_BASICAUTH_ENABLED=
ME_CONFIG_BASICAUTH_USERNAME=
ME_CONFIG_BASICAUTH_PASSWORD=

# Redis Password - optional
REDIS_PASSWORD=

# MQTT Edge Publisher
MQTT_BROKER=
PORT=
TOPIC=
MQTT_CLIENT_PROD_ID=

# Ngrok Auth Token
NGROK_AUTHTOKEN=
NGROK_DOMAIN=
