# MQTT Broker Configuration
MQTT_BROKER=
MQTT_PORT=
MQTT_TOPIC=
MQTT_CLIENT=
SLEEP_TIME=  # in seconds

# Kafka publisher Configuration
KAFKA_BROKER=
KAFKA_TOPIC=
KAFKA_CLIENT_ID=
KAFKA_ACKS=
KAFKA_RETRIES=
