# Kafka
KAFKA_BROKER=broker:9092
KAFKA_TOPIC=wearable_data
KAFKA_CLIENT_ID=kafka-wearable-producer
KAFKA_ACKS=all
KAFKA_RETRIES=5

# Flask secret key
FLASK_SECRET_KEY=

# NGROK URL
NGROK_URL=
NGROK_AUTHTOKEN=
PORT=

# For Garmin API
CALLBACK_URL=

USER_ID_URL=

REQUEST_TOKEN_URL=
AUTHORIZATION_BASE_URL=
ACCESS_TOKEN_URL=

# Garmin API Secrets
CONSUMER_KEY=
CONSUMER_SECRET=

# Database
DB_NAME=