# Kafka
KAFKA_BROKER=
KAFKA_TOPIC=
KAFKA_CLIENT_ID=
KAFKA_ACKS=
KAFKA_RETRIES=

# Flask secret key
FLASK_SECRET_KEY=

# NGROK URL
NGROK_URL=
NGROK_AUTHTOKEN=
PORT=

# For Garmin API
CALLBACK_URL=

USER_ID_URL=

REQUEST_TOKEN_URL=
AUTHORIZATION_BASE_URL=
ACCESS_TOKEN_URL=

# Garmin API Secrets
CONSUMER_KEY=
CONSUMER_SECRET=

# Database
DB_NAME=