# Redis configuration
REDIS_HOST=
REDIS_PORT=
#REDIS_PASSWORD=

# Redis Map Information
ROOMS_LIST=
USER_EMAILS_LIST=

# MongoDB Configuration
MONGO_URI=
MONGO_DB_NAME=
SENSOR_EN_DATA_COLLECTION=
WEARABLE_DATA_COLLECTION=

# Kafka Configuration
KAFKA_BROKER=
KAFKA_ACKS=
KAFKA_RETRIES=
KAFKA_AUTO_COMMIT=
ALLOWED_GARMIN_IDS=

# Producer - User_presence
KAFKA_TOPIC_USER_PROD=
KAFKA_CLIENT_ID_USER_PROD=

# Consumer - Orchestrator
KAFKA_TOPICS=
KAFKA_GROUP_ID=
KAFKA_CONSUMER_CLIENT_ID=

# Enriched Producer - Orchestrator
KAFKA_ENRICHED_TOPICS=
KAFKA_EN_CLIENT_ID=

# Trigger Producer - Orchestrator
KAFKA_TRIGGER_TOPIC=
KAFKA_TR_CLIENT_ID=

# Database
DB_NAME=