# Kafka Consumer Configuration
KAFKA_BROKER=
KAFKA_TOPICS=topic1, topic2
KAFKA_GROUP_ID=
KAFKA_CLIENT_ID=
KAFKA_AUTO_COMMIT=False

# MongoDB Configuration
MONGO_URI=
MONGO_DB=
MONGO_BATCH_SIZE= # write in batch every n messages

# MongoDB Collection Mapping
TOPIC_COLLECTION_MAP=topic_name1:collection1,topic_name2:collection2
